.footer {
  &-top {
    padding: 24px 0 21px;
  }

  &-container {
    grid-template-columns: repeat(9, 1fr);
  }

  &-left {
    grid-column: span 2;
  }

  &-pic {
    margin-bottom: 28px;
  }

  &-nav {
    grid-column: span 7;
  }
}
