.useful {
  &-list {
    grid-template-columns: repeat(9, 1fr);
  }

  &-item {
    grid-column: span 3;

    &-3 {
      display: block;
    }
  }

  &-article {
    min-height: 456px;
  }

  &-pic {
    max-height: 202px;
  }

  &-subtitle {
    font-size: $title-tiny;
    line-height: 22px;

    &-1 {
      max-width: 96%;
    }
  }

  &-link {
    padding: 16px 34px 16px 33px;
  }
}
