// gap
$header-gap: 20.7px 32px;
$nav-gap: 15px 41.8px;
$footer-menu-gap: 10px 75px;
$catalog-gap: 24px;
$filter-gap: 31.8px;
$catalog-card-gap: 32px 31.8px;
$product-gap: 74px 32px;
$product-img-box-gap: 28px;
