.header {
  padding-bottom: 32px;
  overflow-x: clip;

  &-cooperation {
    padding-bottom: 15px;
  }

  &-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: $header-gap;
  }

  &-container:not(:last-child) {
    margin-bottom: 22px;
  }

  &-phone {
    grid-column: span 3;
  }

  &-side {
    grid-column: span 9;
    justify-self: end;
  }

  &-logo {
    grid-column: span 3;
  }

  &-nav {
    grid-column: span 9;
  }

  &-search {
    grid-column: span 10;
  }

  &-box {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: $header-box-gap;
    grid-column: span 2;
    justify-self: end;
    align-self: center;
  }

  &-link {
    &-cart,
    &-user {
      position: relative;
      outline: none;
      z-index: 1;

      &:focus-visible::before {
        background-color: $mauve;
      }

      &:focus-visible .header-icon-user,
      &:focus-visible .header-icon-cart {
        fill: $white;
      }

      @media (any-hover: hover) {
        &:hover:not(:focus-visible):not(:active) .header-icon-user,
        &:hover:not(:focus-visible):not(:active) .header-icon-cart {
          fill: $mauve;
        }
      }

      &:active .header-icon-user,
      &:active .header-icon-cart {
        fill: $primary-shade;
      }
    }

    &-user {
      @include enlargement-of-the-area(8px, 8px);
    }

    &-cart {
      padding-left: 11px;
      @include width-height(41px, 28px);

      @include enlargement-of-the-area(6px, 8px);
    }
  }

  &-link-user,
  &-icon-user {
    @include width-height(26px, 28px);
  }

  &-icon {
    &-user,
    &-cart {
      fill: $medium-purple;
      transition: fill 0.3s ease-in-out;
    }
  }

  &-icon-cart {
    @include width-height(30px, 28px);
  }

  &-cart-count {
    position: absolute;
    top: 5px;
    left: 0px;
    padding: 2px 4px;
    border-radius: 100%;
    background-color: #ff862f;
    @include text-rubber;
    z-index: 1;
  }

  &-navchain {
    grid-column: span 12;

    &-page {
      position: relative;
      top: -2px;
    }
  }
}
