.footer {
  &-container {
    grid-template-columns: repeat(6, 1fr);
    gap: $footer-gap;
  }

  &-top {
    padding: 24px 0 20px;
  }

  &-left,
  &-nav {
    grid-column: span 6;
  }

  &-left {
    display: flex;
    flex-wrap: wrap;
  }

  &-pic {
    margin-right: auto;
    margin-bottom: 0;
    padding-top: 2px;
  }

  &-social-list {
    padding: 0 50px;
  }

  &-nav {
    justify-self: center;
  }
}
