// text
$text-normal: 14px;

// gap
$header-gap: 22px 32px;
$side-gap: 15px 35.5px;
$nav-gap: 15px 40.6px;
$top-tovar-gap: 32px 31.89px;
$feedback-gap: 31px;
$footer-gap: 22px;
$footer-menu-gap: 10px 38.6px;
$catalog-gap: 23.8px;
$filter-sublist-gap: 11.1px;
$product-gap: 32px 32px;
