// text
$text-small: 12px;
$text-small-lg: 14px;
$text-normal: 16px;

$title-tiny: 14px;
$title-small: 16px;
$title-normal: 24px;
$title-big: 20px;

// gap
$header-gap: 0;
$header-box-gap: 5px 31.6px;
$nav-gap: 15px 30.7px;
$card-gap: 24px;
$top-tovar-gap: 16px;
$top-categories-gap: 32px 16px;
$card-categories-gap: 4px 21px;
$useful-gap: 24px 32px;
$footer-gap: 26px;
$footer-left-gap: 21px;
$footer-menu-gap: 25px 16px;
$filter-list-gap: 19px 30px;
$catalog-card-gap: 16px;
$product-gap: 14px;
$product-img-box-gap: 15px;
$product-settings-row-gap: 11.4px;
$product-item-gap: 2px;
$similar-gap: 16px;
