.rating {
  position: absolute;
  top: 32px;
  left: 30px;
  display: block;
  padding-left: 23px;
  background-image: url("../img/star.webp");
  background-repeat: no-repeat;
  background-position: left center;
}
