// fonts
$first-font: "OpenSans";
$second-font: "PlayfairDisplay";
$first-font-family: $first-font, sans-serif;
$second-font-family: $second-font, serif;

// text
$text-tiny: 10px;
$text-small: 14px;
$text-normal: 16px;
$text-big: 18px;
$text-huge: 24px;
$text-big-cost: 36px;

$title-tiny: 16px;
$title-small-sm: 18px;
$title-small: 24px;
$title-normal: 32px;
$title-big: 48px;
$title-huge: 60px;

// color
$white: #fff;
$md-grey: #eaeaea;
$grey-light: #f6f6f6;
$grey: #999;
$grey-shade: #666;
$bone: #fff5d1;
$gold: #d5b986;
$secondary-light: #ffbd59;
$crusta: #ff862f;
$secondary-shade: #bb370e;
$pink-light: #f8efff;
$pink-violet: #ebd1ff;
$mauve: #c998fb;
$medium-purple: #a65cf0;
$primary-shade: #7033ac;
$black: #333;

// gap
$header-gap: 28px 30px;
$side-gap: 15px 64.5px;
$nav-gap: 15px 91.7px;
$header-box-gap: 32px;
$btn-wrap-gap: 10px;
$card-gap: 31.8px;
$card-price-gap: 30px;
$top-tovar-gap: 31.89px;
$top-categories-gap: 31.89px;
$card-categories-gap: 10px 30px;
$useful-gap: 32px;
$feedback-gap: 32px;
$footer-gap: 32px;
$footer-icon-gap: 20px;
$footer-menu-gap: 10px 112px;
$footer-sublist-gap: 6px;
$catalog-gap: 32px;
$filter-sublist-gap: 11.1px;
$catalog-card-gap: 31.8px;
$pagination-gap: 16px;
$product-gap: 103px 32px;
$product-btn-gap: 6px;
$product-img-box-gap: 32px;
$product-settings-row-gap: 8.9px;
$product-settings-column-gap: 4px;
$similar-gap: 31.89px;
